*{
    margin: 0;
    padding: 0;
}
.wrapper{
    margin: 0px auto;
}
.admin_header{
    background-color: #FFF5E7;
}
.admin_top > .admin_top_right{
    display: flex;
}
.admin_top_right .infor_account{
    padding: 50px 0px;
    flex: 50%;
}
.admin_top_right .logout_account{
    padding: 50px 0px;
    flex: 50%;
}
.infor_account > .account,
.logout_account > .logout{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
}

.admin_center{
    background-color: #E3E3E3;
}
.admin_middle_left{
    border: solid 3px #5BCBFF;
    border-radius: 5px;
    background-color: #ececec;
    text-align: center;
}
.home_page, .block_management{
    padding-top: 20px;
}
.home_page > a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
}
.home_page a:hover, .block_management a:hover{
    color: #00AEEF;
    text-decoration: none;
}
.block_management > ul > li{
    list-style: none;
}
.block_management > ul > li > .block_management_list_items{
    color: black;
    font-family: Arial;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}
#type_books{
    transition: all 0.25s linear;
    overflow: hidden;
    height: 0px;
}

.block_management_books > ul > li{
    list-style: none;
}
.block_management_books > ul > li > a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-size: 16px;
    font-weight: 500;
}

.admin_middle_right{
    display: flex;
    justify-content: center;
}
.select{
    width: 40%;
}
.form_add{
    width: 80%;
    margin: 0 auto;
}
.form_add .items_infor .lbl{
    display: inline-block;
    padding: 10px 0px;
    width: 15%;
    margin: 0px;
}
.form_add .items_infor .txt{
    width: 40%;    
}
.form_add .btn_add .btn{
    border: 2px solid #606060;
    border-radius: 5px;
    text-align: center;
    width: 15%;
}

.admin_middle_list{
    width: 100%;
}
.admin_middle_list > table{
    width: 100%;
}
th, td{
    border-collapse: collapse;
    border: solid 2px #606060;
    margin: 0 auto;
}