<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="../css/grid.css">
        <link rel="stylesheet" type="text/css" href="../css/skybooks.css">
        <title>JSP Page</title>
    </head>
    <body>
        <div class="wrapper grid">
            <div class="home-header grid">
                <div class="home-header-top grid wide">
                    <div class="home-header-top-content">
                        <div class="home-header-top-left">
                            <div class=""><a href="#" class="fb-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
                            <div class=""><a href="#" class="ins-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
                            <div class=""><a href="#" class="youtube-icon"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></div>
                        </div>    
                        <div class="home-header-top-right">
                            <div class=""><a href="#" class="phone-icon"><i class="fa fa-phone" aria-hidden="true"> <span>02438438220</span></i></a></div>
                            <div class=""><a href="#" class="mail-icon c-3"><i class="fa fa-envelope" aria-hidden="true"> <span>cskh_online@skybooks.com.vn</span></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end home-header -->
    </body>
</html>
