<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>SkyBooks</title>
        <link rel="stylesheet" type="text/css" href="../css/grid.css">       
        <link rel="stylesheet" type="text/css" href="../css/skybooks.css">
        <link rel="stylesheet" type="text/css" href="../css/list_details_of_categories.css">
        <link rel="icon" type="image/x-icon" href="../img/favicon.icon.webp">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
    <body>        
        <!-- header -->
        <div class="wrapper grid">
            <div class="home-header grid">
                <div class="home-header-top grid wide">
                    <div class="home-header-top-content">
                        <div class="home-header-top-left">
                            <div class=""><a href="#" class="fb-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
                            <div class=""><a href="#" class="ins-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
                            <div class=""><a href="#" class="youtube-icon"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></div>
                        </div>    
                        <div class="home-header-top-right">
                            <div class=""><a href="#" class="phone-icon"><i class="fa fa-phone" aria-hidden="true"> <span>02438438220</span></i></a></div>
                            <div class=""><a href="#" class="mail-icon c-3"><i class="fa fa-envelope" aria-hidden="true"> <span>cskh_online@skybooks.com.vn</span></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- banner -->
        <div class="wrapper grid">
            <div class="home-banner grid wide">
                <div class="home-header-banner row">
                    <div class="home-header-banner-left l-4">
                        <a href="skyshop.html"><img class="logo" src="../img/logo.png"></a>
                    </div>

                    <div class="home-header-banner-center l-4">
                        <div class="home-header-banner-center-search">
                            <button class="submit" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            <input type="text" class="search" placeholder="Tìm kiếm... ">
                        </div>
                    </div>

                    <div class="home-header-banner-right l-4">
                        <div class="home-header-banner-right-login">
                            <a class="login" href="loginaccount.html"><i class="fa fa-sign-in" aria-hidden="true"></i> <span>Đăng nhập</span></a>
                        </div>
                        <div class="home-header-banner-right-signin">
                            <a class="signin" href="signup.html"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span>Đăng ký</span></a>
                        </div>
                        <div class="home-header-banner-right-like">
                            <a class="like" href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                        <div class="home-header-banner-right-cart">
                            <a class="cart" href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- navigation -->
        <div class="wrapper grid">
            <div class="home-navbar grid">                
                <div class="home-navbar-menu grid wide">
                    <ul class="row">
                        <li><a class="homepage" href="skyshop.html"><i class="fa fa-home"></i></a></li>
                        <li><a href="../index.html">Giới thiệu</a></li>
                        <li><a href="#">Tin tức & Sự kiện</a></li>
                        <li>
                            <div class="home-navbar-menu-list">
                                <a href="list_details_of_categories.html" class="items">Tủ sách</a>
                                <div class="list-items_type">
                                    <ul class="list">
                                        <li><a class="list-items-list" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Skybooks</a></li> 
                                        <li><a class="list-items-list" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Skynovel</a></li>
                                        <li><a class="list-items-list" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Skycomics</a></li>
                                        <li><a class="list-items-list" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Skymommy</a></li>
                                        <li><a class="list-items-list" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Sky Special</a></li>
                                        <li><a class="list-items-list" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Tủ sách chữa lành</a></li>
                                        <li><a class="list-items-list" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Tủ sách quý cô</a></li>
                                        <li><a class="list-items-list" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Tủ sách sống khác</a></li>
                                        <li><a class="list-items-list" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Deepbooks</a></li>
                                        <li><a class="list-items-list" href="#"><i class="fa" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li><a href="#">Tác giả</a></li>
                        <li><a href="#">Trích dẫn</a></li>
                        <li><a href="#">Thông báo - Tuyển dụng</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="clr"></div>
        <!-- footer -->
        <div class="wrapper grid">
            <div class="home-footer grid">
                <div class="home-footer-content grid wide">
                    <div class="block-content_main no-gutters row">
                        <div class="block-content_main_left no-gutters l-4">
                            <img src="../img/logo_footer.webp" alt="SkyBooks"/>
                            <p>
                                Skybooks - thương hiệu sách dành cho những người viết trẻ, đam mê văn chương, tôn trọng, gìn giữ, sáng tạo Tiếng Việt. Dành cho một thế hệ độc giả trẻ, đam mê khám phá ngôn ngữ, say mê đến với thế giới của những quyển sách. Và là một thế hệ những người làm sách trẻ, đam mê mang đến những giá trị tinh thần cho bạn đọc, lan toả cảm xúc và kết nối tâm hồn.
                            </p>
                        </div>
                        
                        <div class="block-content_main_middle no-gutters l-4">
                            <div class="our_contact">Liên hệ với chúng tôi</div>
                            <div class="address_contact">
                                <i class="fa fa-map-marker"></i>
                                <span>Địa chỉ: Số 83 Lý Nam Đế, Phường Cửa Đông, Quận Hoàn Kiếm, Hà Nội</span>
                            </div>
                            <div class="phone_contact">   
                                <i class="fa fa-phone"></i>
                                <span>Hotline kinh doanh: 02438438220</span>
                            </div>
                        </div>
                        
                        <div class="block-content_main_right no-gutters l-4">
                            <div class="signin_sale">Đăng ký nhận khuyến mãi</div>
                            <div>Đừng bỏ lỡ những sản phẩm và chương trình khuyến mãi hấp dẫn</div>
                        </div>
                    </div>
                </div>                         
            </div>
        </div>
    </body>
</html>
