<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Đăng nhập</title>
        <link rel="stylesheet" type="text/css" href="/css/grid.css">
        <link rel="stylesheet" type="text/css" href="/css/login.css">
        <link rel="icon" type="image/x-icon" href="/img/favicon.icon.webp">
        
    </head>
    <body>
        <div class="block_login">
            <div class="formLogin">
                <h3 class="form_main"></h3>
                <form class="form_main" action="loginaccount" method="post">
                    <div class="lbl">Enter username</div>
                    <input class="txt" type="text" name="user"/><br/>
                    <div class="lbl">Enter password</div>
                    <input class="txt" type="password" name="pass"/><br/>
                    <div class="ckb"><input type="checkbox"/>Remember me?</div>
                    <div class="btnLogin"><input class="btn" type="submit" value="LOGIN"/></div>
                </form>
            </div>
        </div>
    </body>
</html>
