<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Đăng Ký</title>
        <link rel="stylesheet" type="text/css" href="/css/grid.css">
        <link rel="stylesheet" type="text/css" href="/css/login.css">
        <link rel="icon" type="image/x-icon" href="/img/favicon.icon.webp">
    </head>
    <body>
        <div class="block_login">
            <div class="formLogin">
                <h3 class="form_main"></h3>
                <form class="form_main" action="signup" method="post">
                    <div class="lbl">Tài khoản</div>
                    <input class="txt" type="text" name="user" required/><br/>
                    <div class="lbl">Mật khẩu</div>
                    <input class="txt" type="password" name="pass" required/><br/>
                    <div class="lbl">Nhập lại mật khẩu</div>
                    <input class="txt" type="password" name="repass" required/><br/>
                    <div class="btnSignup"><input class="btn" type="submit" value="Đăng Ký"/></div>
                </form>
            </div>
        </div>
    </body>
</html>
