<!doctype html>
<html lang="en">
    <head>
        <title>Skybooks Radio</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="../css/grid.css">
        <link rel="stylesheet" type="text/css" href="../css/skyradio.css">
        <link rel="stylesheet" type="text/css" href="../css/skybooks.css">
        <link rel="icon" type="image/x-icon" href="../img/favicon.icon.webp">
        <!-- [if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" integrity="sha512-qWVvreMuH9i0DrugcOtifxdtZVBBL0X75r9YweXsdCHtXUidlctw7NXg5KVP3ITPtqZ2S575A0wFkvgS2anqSA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
         <![endif]-->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <div class="wrapper grid">
            <div class="radio_header grid">
                <div class="radio_main_header grid wide">
                    <ul class="row no-gutters">
                        <li class="l-2-4 m-2-4 l-2-4"><a href="/index.html">Giới Thiệu</a></li>
                        <li class="l-2-4 m-2-4 l-2-4"><a href="">Thể Loại</a></li>
                        <li class="l-2-4 m-2-4 l-2-4"><a href="/views/skyradio.html"><img src="../img/skybooks_radio_logo.png" alt="SkybooksRadio"></a></li>
                        <li class="l-2-4 m-2-4 l-2-4"><a href="">Sự Kiện</a></li>
                        <li class="l-2-4 m-2-4 l-2-4"><a href="">Liên Hệ</a></li>                        
                    </ul>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="radio_banner">
                <div class="radio_main_banner">
                    <img src="../img/skybooks_radio_banner.png" alt="SkybookRadio">
                </div>
            </div>
        </div>

        <div class="wrapper grid">
            <div class="home-main-block_container grid wide">
                <div class="img-container"></div>
                <a href="#" title="CHÚNG TA RỒI SẼ ỔN" class="title-container">Chúng ta rồi sẽ ổn thôi</a>
            </div>                
        </div>
        <!-- end home-main-block_container -->

        <div class="home-main-block-content grid">
            <div class="home-main-content grid wide row">
                <div class="home-main-content-left l-2 c-0">
                    <div class="home-main-block_category">
                        <div class="block_category">Danh mục sách</div>
                        <div class="block_menu">
                            <ul class="block_menu_list">
                                <li><a class="" href=""><i class="fa fa-angle-right" aria-hidden="true"></i><span>Skybooks</span></a></li>
                                <li><a class="" href=""><i class="fa fa-angle-right" aria-hidden="true"></i><span>Skynovel</span></a></li>
                                <li><a class="" href=""><i class="fa fa-angle-right" aria-hidden="true"></i><span>Skycomics</span></a></li>
                                <li><a class="" href=""><i class="fa fa-angle-right" aria-hidden="true"></i><span>Skymommy</span></a></li>
                                <li><a class="" href=""><i class="fa fa-angle-right" aria-hidden="true"></i><span>Sky Special</span></a></li>
                                <li><a class="" href=""><i class="fa fa-angle-right" aria-hidden="true"></i><span>Tủ sách chữa lành</span></a></li>
                                <li><a class="" href=""><i class="fa fa-angle-right" aria-hidden="true"></i><span>Tủ sách quý cô</span></a></li>
                                <li><a class="" href=""><i class="fa fa-angle-right" aria-hidden="true"></i><span>Tủ sách sống khác</span></a></li>
                                <li><a class="" href=""><i class="fa fa-angle-right" aria-hidden="true"></i><span>Deepbooks</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end home-main-block_category -->
                    <div class="home-main-content_quote">
                        <div class="block_quote_title"><a href="">Trích dẫn</a></div>
                        <div class="block_quote_hot">
                            <div class="block_quote_hot_content">
                                <a href="#" title="MỘC DIỆP TỬ">
                                    <p>“Cuộc đời sẽ luôn có người vì bạn mà chọn giành mọi thứ, 
                                        cũng có người vì bạn mà từ bỏ mọi thứ, 
                                        người chọn tiến lên, người chọn lùi về, 
                                        bạn buộc phải bỏ lỡ một người mới có thể gặp được người tiếp theo....
                                    </p>
                                    <strong>MỘC DIỆP TỬ</strong>
                                </a>
                            </div>
                            <div class="block_quote_hot_image">
                                <a href="#"><img src="../img/MOC_DIEP_TU.jfif" alt="MỘC DIỆP TỬ" title="MỘC DIỆP TỬ"></a>
                            </div>
                        </div>
                        <!-- end block_quote_hote -->
                        <div class="block_quote_items">
                            <a href="#" title="MỘC DIỆP TỬ">
                                <p>Có ai đó đã nói, trong tình yêu, đừng đem hết ruột gan của mình ra bày tỏ cho đối phương, 
                                    bởi khi lớp vỏ cuối cùng bóc xong, người cay mắt nhất sẽ là bạn.
                                </p>
                                <strong>Mộc Diệp Tử</strong>
                            </a>
                        </div>

                        <div class="block_quote_items">
                            <a href="#" title="MỘC DIỆP TỬ">
                                <p>Không phải người nào làm ta đau cũng là kẻ thù, 
                                    nhưng chưa chắc người đáng cho mình trả giá đã là người để mình gắn bó yêu thương cả đời.
                                </p>
                                <strong>Mộc Diệp Tử</strong>
                            </a>
                        </div>

                        <div class="block_quote_items">
                            <a href="#" title="Kulzsc">
                                <p>Đôi lúc muốn được ôm ai đó thật lâu, 
                                    chẳng cần phải là người mình có tình cảm, bất kỳ ai cũng được, 
                                    vì có những lúc thật sự cảm thấy thiếu kết nối, thiếu yêu thương, thiếu ấm áp.
                                </p>
                                <strong>Kulzsc</strong>
                            </a>
                        </div>

                        <div class="block_quote_items">
                            <a href="#" title="Xin chào tình yêu - Hiên">
                                <p> “Anh đừng là ánh trăng Cũng đừng là Mặt Trời 
                                    Hãy chỉ là cuộc đời Của một người, là em”...
                                </p>
                                <strong>Xin chào tình yêu - Hiên</strong>
                            </a>
                        </div>
                    </div>
                </div>           
                <!-- end home-main-content_quote -->
                <div class="home-main-content-right l-9 c-12">
                    <div class="home-main-content-right_first">
                        <div class="block_heading-books">
                            <a href="">Skybooks</a>
                        </div>
                        <div class="block_content-skybooks">
                            <ul class="skybooks">
                                <li title="Người cũ còn thương">
                                    <div class="block_content-skybooks_list">
                                        <div class="block-skybooks_information_content">    
                                            <a href="https://www.youtube.com/embed/qzxdCOXuDs0" target="_blank">
                                                <div>
                                                    <div><img width="" height="" src="../img/radio/ncct.jpg" alt="Người cũ còn thương"></div>
                                                    <i class="fa fa-youtube-play"></i>
                                                </div>
                                                <p>Người cũ còn thương | Skybooks Radio</p>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li title="Năm tháng vô tình mà vẫn biết yêu">
                                    <div class="block_content-skybooks_list">
                                        <div class="block-skybooks_information_content">    
                                            <a href="https://www.youtube.com/embed/vXIVPAhN6pM" target="_blank">
                                                <div>
                                                    <div><img width="" height="" src="../img/radio/ntvtmvby.jpg" alt="Năm tháng vô tình mà vẫn biết yêu"></div>
                                                    <i class="fa fa-youtube-play"></i>
                                                </div>
                                                <p>Năm tháng vô tình mà vẫn biết yêu | Skybooks Radio</p>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li title='Những trích dẫn đắt giá dành cho con gái trong "Con gái hiện đại đừng tự hại mình"'>
                                    <div class="block_content-skybooks_list">
                                        <div class="block-skybooks_information_content">    
                                            <a href="https://www.youtube.com/embed/cSZD3v61dso" target="_blank">
                                                <div>
                                                    <div><img width="" height="" src="../img/radio/ntddgdccg.jpg" alt='Những trích dẫn đắt giá dành cho con gái trong "Con gái hiện đại đừng tự hại mình"'></div>
                                                    <i class="fa fa-youtube-play"></i>
                                                </div>
                                                <p>Những trích dẫn đắt giá dành cho con gái trong "Con gái hiện đại đừng tự hại mình" | Skybooks Radio</p>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li title="Xin lỗi, vì chúng ta đã lướt qua nhau trong cuộc đời này">
                                    <div class="block_content-skybooks_list">
                                        <div class="block-skybooks_information_content">    
                                            <a href="https://www.youtube.com/embed/CPSU616TBTw" target="_blank">
                                                <div>
                                                    <div><img width="" height="" src="../img/radio/ldmhctc.jpg" alt="Xin lỗi, vì chúng ta đã lướt qua nhau trong cuộc đời này"></div>
                                                    <i class="fa fa-youtube-play"></i>
                                                </div>
                                                <p>Xin lỗi, vì chúng ta đã lướt qua nhau trong cuộc đời này | Skybooks Radio</p>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="home-main-content-right_first">
                        <div class="block_heading-books">
                            <a href="">Skynovel</a>
                        </div>
                        <div class="block_content-skybooks">
                            <ul class="skybooks">
                                <li title="Gửi thời thanh xuân không ngừng dằn vặt, không thể an ổn của chúng ta">
                                    <div class="block_content-skybooks_list">
                                        <div class="block-skybooks_information_content">
                                            <a href="https://www.youtube.com/embed/3zMrOuVYfoU" target="_blank">
                                                <div>
                                                    <div><img width="" height="" src="../img/radio/gttxkndvktaocct.jpg" alt="Gửi thời thanh xuân không ngừng dằn vặt, không thể an ổn của chúng ta"></div>
                                                    <i class="fa fa-youtube-play"></i>
                                                </div>
                                                <p>Gửi thời thanh xuân không ngừng dằn vặt, không thể an ổn của chúng ta | Skybooks Radio</p>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li title="Đêm trước bình minh">
                                    <div class="block_content-skybooks_list">
                                        <div class="block-skybooks_information_content">
                                            <a href="https://www.youtube.com/embed/oxT4_Pmlzp8" target="_blank">
                                                <div>
                                                    <div><img width="" height="" src="../img/radio/dtbm.jpg" alt="Đêm trước bình minh"></div>
                                                    <i class="fa fa-youtube-play"></i>
                                                </div>
                                                <p>Đêm trước bình minh | Skybooks Radio</p>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li title="Những đứa trẻ không có ô">
                                    <div class="block_content-skybooks_list">
                                        <div class="block-skybooks_information_content">
                                            <a href="https://www.youtube.com/embed/mZseN9Zz8zk" target="_blank">
                                                <div>
                                                    <div><img width="" height="" src="../img/radio/ndtkco.jpg" alt="Những đứa trẻ không có ô"></div>
                                                    <i class="fa fa-youtube-play"></i>
                                                </div>
                                                <p>Những đứa trẻ không có ô | Skybooks Radio</p>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li title="Gửi tới người muốn rời xa tôi">
                                    <div class="block_content-skybooks_list">
                                        <div class="block-skybooks_information_content">
                                            <a href="https://www.youtube.com/embed/rdYSOC8mffE" target="_blank">
                                                <div>
                                                    <div><img width="" height="" src="../img/radio/gtnmrxt.jpg" alt="Gửi tới người muốn rời xa tôi"></div>
                                                    <i class="fa fa-youtube-play"></i>
                                                </div>
                                                <p>Gửi tới người muốn rời xa tôi | Skybooks Radio</p>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="home-main-content-right_first">
                        <div class="block_heading-books">
                            <a href="">Tủ sách chữa lành</a>
                        </div>
                        <div class="block_content-skybooks">
                            <ul class="skybooks">
                                <li title="Đúng hay sai, sau cùng đều là trưởng thành">
                                    <div class="block_content-skybooks_list">
                                        <div class="block-skybooks_information_content">
                                            <a href="https://www.youtube.com/embed/BWeozbhGrQc" target="_blank">
                                                <div>
                                                    <div><img width="" height="" src="../img/radio/dhsscdltt.jpg" alt="Đúng hay sai, sau cùng đều là trưởng thành"></div>
                                                    <i class="fa fa-youtube-play"></i>
                                                </div>
                                                <p>Đúng hay sai, sau cùng đều là trưởng thành | Skybooks Radio</p>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li title="Tu Tâm Cho Tốt Thì Đời Thong Dong">
                                    <div class="block_content-skybooks_list">
                                        <div class="block-skybooks_information_content">
                                            <a href="https://www.youtube.com/embed/34ZzzP8M-jY" target="_blank">
                                                <div>
                                                    <div><img width="" height="" src="../img/radio/ttcttdtd.jpg" alt="Tu Tâm Cho Tốt Thì Đời Thong Dong"></div>
                                                    <i class="fa fa-youtube-play"></i>
                                                </div>
                                                <p>Tu Tâm Cho Tốt Thì Đời Thong Dong | Skybooks Radio</p>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li title="Như mây bình thản như nước thong dong">
                                    <div class="block_content-skybooks_list">
                                        <div class="block-skybooks_information_content">
                                            <a href="https://www.youtube.com/embed/64lxHVcUL9Y" target="_blank">
                                                <div>
                                                    <div><img width="" height="" src="../img/radio/nmbtnntd.jpg" alt="Như mây bình thản như nước thong dong"></div>
                                                    <i class="fa fa-youtube-play"></i>
                                                </div>
                                                <p>Như mây bình thản như nước thong dong | Skybooks Radio</p>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li title="5 kỹ năng cần chuẩn bị để bước vào kỷ nguyên mới">
                                    <div class="block_content-skybooks_list">
                                        <div class="block-skybooks_information_content">
                                            <a href="https://www.youtube.com/embed/t0hhAarEDJU" target="_blank">
                                                <div>
                                                    <div><img width="" height="" src="../img/radio/5knccbdbvknm.jpg" alt="5 kỹ năng cần chuẩn bị để bước vào kỷ nguyên mới"></div>
                                                    <i class="fa fa-youtube-play"></i>
                                                </div>
                                                <p>5 kỹ năng cần chuẩn bị để bước vào kỷ nguyên mới | Skybooks Radio</p>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="home-main-content-right_first">
                        <div class="block_heading-books">
                            <a href="">Tủ sách sống khác</a>
                        </div>
                        <div class="block_content-skybooks">
                            <ul class="skybooks">
                                <li title="Chủ nghĩa khắc kỷ cho đời sống thực tế: Nuôi dưỡng sự tích cực, sống cuộc đời đẹp nhất">
                                    <div class="block_content-skybooks_list">
                                        <div class="block-skybooks_information_content">
                                            <a href="https://www.youtube.com/embed/nxPznkL5xnY" target="_blank">
                                                <div>
                                                    <div><img width="" height="" src="../img/radio/cnkkcdstt.jpg" alt="Chủ nghĩa khắc kỷ cho đời sống thực tế: Nuôi dưỡng sự tích cực, sống cuộc đời đẹp nhất"></div>
                                                    <i class="fa fa-youtube-play"></i>
                                                </div>
                                                <p>Chủ nghĩa khắc kỷ cho đời sống thực tế: Nuôi dưỡng sự tích cực, sống cuộc đời đẹp nhất | Skybooks Radio</p>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li title="8 phương pháp hoàn thiện tính cách: Nếu bạn nở hoa, gió mát sẽ tự đến">
                                    <div class="block_content-skybooks_list">
                                        <div class="block-skybooks_information_content">
                                            <a href="https://www.youtube.com/embed/lJYUvGs9jtQ" target="_blank">
                                                <div>
                                                    <div><img width="" height="" src="../img/radio/8pphttc.jpg" alt="8 phương pháp hoàn thiện tính cách: Nếu bạn nở hoa, gió mát sẽ tự đến"></div>
                                                    <i class="fa fa-youtube-play"></i>
                                                </div>
                                                <p>8 phương pháp hoàn thiện tính cách: Nếu bạn nở hoa, gió mát sẽ tự đến | Skybooks Radio</p>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li title="Khi cô độc là sự lựa chọn">
                                    <div class="block_content-skybooks_list">
                                        <div class="block-skybooks_information_content">
                                            <a href="https://www.youtube.com/embed/AVwZkPYXUIg" target="_blank">
                                                <div>
                                                    <div><img width="" height="" src="../img/radio/kcdlslc.jpg" alt="Khi cô độc là sự lựa chọn"></div>
                                                    <i class="fa fa-youtube-play"></i>
                                                </div>
                                                <p>Khi cô độc là sự lựa chọn | Skybooks Radio</p>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li title="Không phải sói nhưng cũng đừng là cừu">
                                    <div class="block_content-skybooks_list">
                                        <div class="block-skybooks_information_content">
                                            <a href="https://www.youtube.com/embed/aEQlfkfbH0o" target="_blank">
                                                <div>
                                                    <div><img width="" height="" src="../img/radio/kpsncdlc.jpg" alt="Không phải sói nhưng cũng đừng là cừu"></div>
                                                    <i class="fa fa-youtube-play"></i>
                                                </div>
                                                <p>Không phải sói nhưng cũng đừng là cừu | Skybooks Radio</p>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="home-main-content-right_first">
                        <div class="block_heading-books">
                            <a href="">Tủ sách quý cô</a>
                        </div>
                        <div class="block_content-skybooks">
                            <ul class="skybooks">
                                <li title="Thông điệp năm 2023: Đừng chỉ đẹp mà không hiểu chuyện">
                                    <div class="block_content-skybooks_list">
                                        <div class="block-skybooks_information_content">
                                            <a href="https://www.youtube.com/embed/8WEKSnBjAHA" target="_blank">
                                                <div>
                                                    <div><img width="" height="" src="../img/radio/dcdmkhc.jpg" alt="Thông điệp năm 2023: Đừng chỉ đẹp mà không hiểu chuyện"></div>
                                                    <i class="fa fa-youtube-play"></i>
                                                </div>
                                                <p>Thông điệp năm 2023: Đừng chỉ đẹp mà không hiểu chuyện | Skybooks Radio</p>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li title="Quý cô khởi nghiệp - cẩm nang đỉnh cao dành cho những quý cô đầy khát vọng">
                                    <div class="block_content-skybooks_list">
                                        <div class="block-skybooks_information_content">
                                            <a href="https://www.youtube.com/embed/8XVaqXB6iYc" target="_blank">
                                                <div>
                                                    <div><img width="" height="" src="../img/radio/qckn.jpg" alt="Quý cô khởi nghiệp - cẩm nang đỉnh cao dành cho những quý cô đầy khát vọng"></div>
                                                    <i class="fa fa-youtube-play"></i>
                                                </div>
                                                <p>Quý cô khởi nghiệp - cẩm nang đỉnh cao dành cho những quý cô đầy khát vọng | Skybooks Radio</p>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li title="Lựa chọn nào cũng cần dũng khí">
                                    <div class="block_content-skybooks_list">
                                        <div class="block-skybooks_information_content">
                                            <a href="https://www.youtube.com/embed/G7oGUyLXkWs" target="_blank">
                                                <div>
                                                    <div><img width="" height="" src="../img/radio/lcnccdk.jpg" alt="Lựa chọn nào cũng cần dũng khí"></div>
                                                    <i class="fa fa-youtube-play"></i>
                                                </div>
                                                <p>Lựa chọn nào cũng cần dũng khí | Skybooks Radio</p>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li title="Đi đường cũ không thể tới nơi mới - cuốn sách cùng bạn kiêu hãnh trưởng thành">
                                    <div class="block_content-skybooks_list">
                                        <div class="block-skybooks_information_content">
                                            <a href="https://www.youtube.com/embed/ZBWD_yK9m1s" target="_blank">
                                                <div>
                                                    <div><img width="" height="" src="../img/radio/ddckttnm.jpg" alt="Đi đường cũ không thể tới nơi mới - cuốn sách cùng bạn kiêu hãnh trưởng thành"></div>
                                                    <i class="fa fa-youtube-play"></i>
                                                </div>
                                                <p>Đi đường cũ không thể tới nơi mới - cuốn sách cùng bạn kiêu hãnh trưởng thành | Skybooks Radio</p>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <!--end-home-main-content-right-->
            </div>
        </div>
        <!--footer-->
        <div class="wrapper grid">
            <div class="home-footer grid">
                <div class="home-footer-content grid wide">
                    <div class="block-content_main no-gutters row">
                        <div class="block-content_main_left no-gutters l-4">
                            <img src="../img/logo_footer.webp" alt="SkyBooks"/>
                            <p>
                                Skybooks - thương hiệu sách dành cho những người viết trẻ, đam mê văn chương, tôn trọng, gìn giữ, sáng tạo Tiếng Việt. Dành cho một thế hệ độc giả trẻ, đam mê khám phá ngôn ngữ, say mê đến với thế giới của những quyển sách. Và là một thế hệ những người làm sách trẻ, đam mê mang đến những giá trị tinh thần cho bạn đọc, lan toả cảm xúc và kết nối tâm hồn.
                            </p>
                        </div>
                        
                        <div class="block-content_main_middle no-gutters l-4">
                            <div class="our_contact">Liên hệ với chúng tôi</div>
                            <div class="address_contact">
                                <i class="fa fa-map-marker"></i>
                                <span>Địa chỉ: Số 83 Lý Nam Đế, Phường Cửa Đông, Quận Hoàn Kiếm, Hà Nội</span>
                            </div>
                            <div class="phone_contact">   
                                <i class="fa fa-phone"></i>
                                <span>Hotline kinh doanh: 02438438220</span>
                            </div>
                        </div>
                        
                        <div class="block-content_main_right no-gutters l-4">
                            <div class="signin_sale">Đăng ký nhận khuyến mãi</div>
                            <div>Đừng bỏ lỡ những sản phẩm và chương trình khuyến mãi hấp dẫn</div>
                        </div>
                    </div>
                </div>                         
            </div>
        </div>

    </body>
</html>
